<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomAIPredictionKey" value="1633...." />
    <add key="CustomVisionAIEndpoint" value="https://westeurope.api.cognitive.microsoft.com"/>
    <add key="CustomVisionAIProjectId" value="d4930ece-bfd9-....."/>
  </appSettings>
</configuration>